* {
    margin:0;
    padding: 0;
}
html, body {
  height: 100%;
}
header, main, footer {
    width: 1040px;
    margin:0 auto;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
     width: 100%;
}
header{
    height:120px;   
}
main{
    padding-bottom: 100px;
}
footer{   
    margin: -100px auto 0;
    position: relative;
    height: 100px;
}

body {
    background-color: #151719;
    color: white;
    font-family: 'Noto Sans Display', sans-serif;
}

.main_img-float {
    width: 550px;
    margin: 40px;
    float: left;
    border-radius: 5px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

#panorama {
    width: 100%;
    height: 150px;
    background: url(../img/2.jpg) no-repeat center 70%;
    background-size: cover; /*масштабирование фона*/
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

.services__img {
    width: 240px;
    border-radius: 5px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    height: 150px
}

.services_item {
    width: 240px;
    margin-left: 40px;
    margin-right: 40px;
    float: left;
}

.services {
    padding: 35px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.h1-invisible {
    visibility: hidden;
}

.onasf {
    margin-left: 200px; 
    margin-right: 200px; 
    
}

.onasf h1 {
    text-align: center;
}

.onasf-img {
    width: 600px;
    border-radius: 5px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

.main_contact {
    text-align: center;
    font-size: larger;
    line-height: 1.5;
}

a {
    color:white;
    text-decoration: none;
}

span {
    color: rgb(255, 136, 0);
}

#logo{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    line-height: 100px;
    font-size: 24px;
    float:left
}

.footer_block {
    display:inline-block;
    width: 335px;
    text-transform: lowercase;
}

.footer_icons {
    display:inline-block;
    width: 335px;
    text-align: right;
    margin: 10px;
}

.footer_img {
    width: 50px;
}


h1, h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#mainnav ul {
    list-style: none;
}

#mainnav li {
    display: inline;
    line-height: 100px;
    font-size: 24px;
    padding: 10px;
    margin: 20px;
    padding-left: 50px;
    border: 8px solid  rgba(255, 136, 0, 0);
}

#mainnav a:hover {
    transition: 0.3s;
    color: black;
    background-color: rgb(255, 136, 0);
    border: 8px solid  rgb(255, 136, 0);
    border-radius: 8px;
}

#mainnav li.active a {
    font-weight: bold;
}

.services a {
    color:rgb(255, 136, 0);
}

.services a:hover {
    color:orangered;
}

.main_contact {
    line-height: 40px;
}

table {
    table-layout: fixed;

    text-align: center;
    border-collapse: collapse;
    border: 3px solid white;
  }
  
td {
    overflow: hidden;
    word-wrap: break-word;
    border: 1px solid white;
  }

  tr:nth-child() {
    background-color: rgb(255, 136, 0);
}

tr:nth-child(2) {
    background-color: rgb(255, 136, 0);
}

th:first-child {
    width: 10%;
}

th:nth-child(2), th:last-child {
    width: 25%;
}

#text {
    width: 250px;
    height: 150px;
}

#contact_form {
    width: 350px;
    height: 400px;
    background-color:#282828;
    border: 5px solid rgb(255, 136, 0);
    border-radius: 10px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

#contact_form input, select {
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(255, 136, 0);
    padding: 5px;
    margin-bottom: 10px;
}

#contact_form input[type="submit"] {
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

#contact_form input[type="submit"]:hover {
    background-color: orangered;
}

.client_img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.client_list {
    display: inline-block;
    width: 250px;
    height: 400px;
    background-color:#282828;
    border: 5px solid rgb(255, 136, 0);
    border-radius: 10px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    align-items: center;
    margin: 0 auto;
    margin-right: 60px;
    text-align: center;
    padding: 10px;
}
